html, body, #root {
  width: 100%;
  height: 100%;
}
.login-cover {
  background-image: url('./jumbotron.png');
  background-size: contain;
}
.login-overlay {
  padding: 30px;
}
.login-overlay h1 {
  font-size: 50px;
}
.input-wrapper {
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}
.input-wrapper .form-group {
  margin-bottom: 0;
}
.input-wrapper input{
  border: 0;
}
.login-form .right-btn {
  background-color: #34325E;
  color: white;
  border-radius: 5px;
}
.login-form .right-btn:hover {
  background-color: white;
  color: #34325E;
  border: 1px solid #34325E;
  border-radius: 5px;
}
.login-form .left-btn {
  background-color: white;
  color: #34325E;
  border: 1px solid #34325E;
  border-radius: 5px;
}
.login-form .left-btn:hover {
  background: #34325E;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
}
.half-cover {
  height: 350px;
  background-color: #34325E;
}
.option-btn a {
  color: white;
}
.full-cover img{
  width: 230px;
  height: 319px;
  margin-top: -200px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.book-details {
  margin-top: -50px;
}
.badge-detail {
  background-color: #34325E;
}
.btn-borrow {
  border: 2px solid #34325E;
  color: #34325E;
}
.btn-borrow:hover {
  background-color: #34325E;
  color: white;
}
.sidebar {
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
  background-color: #34325E;
  color: white;
}
.profile-img img{
  border-radius: 50px;
}
.sidebar-list {
  list-style-type: none;
}
.nav-dashboard {
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
  margin-left: 210px;
  background-color: #34325E;
}
.list-book {
  margin-left: 210px;
}
.list-book-content {
  padding: 100px;
}
.card-img {
  width: 220px;
  height: 200px;
}
.card-title a{
  color: black;
}
.btn-add-admin {
  background-color: #34325E;
  color: white;
}
.btn-add-admin:hover {
  background-color: rgb(76, 73, 129);
  color: white;
}
.btn-sort button {
  background-color: #34325E;
  color: white;
}
.btn-sort button:hover {
  background-color: rgb(79, 76, 146);
  color: white;
}
.landing-jumbotron {
  background-image: url('./jumbotron-cover.png');
  background-size: cover;
}
.jumbotron-content {
  padding-bottom: 100px;
}
.find-book {
  border-radius: 0;
  border: none;
  border-bottom: 4px solid #34325E;
}
.btn-go {
  background-color: white;
  border: 2px solid #34325E;
  color: #34325E;
}
.btn-go:hover {
  background-color: #34325E;
  color: white;
}
.card-landing {
  width: 335px;
}
.card-img-landing {
  width: 335px;
  height: 200px;
}
.btn-sort, .pagination-btn button {
  background-color: #34325E;
  color: white;
}
.btn-sort:hover, .pagination-btn button:hover {
  background-color: rgb(79, 76, 146);
  color: white;
}
.footer {
  margin-top: 50px;
  height: 50px;
  background-color: #34325E;
}